.content .page HR {
	margin: 2px 30px;
	display: block;
}

.content .page UL {
	width: 740px;
	margin: 0 auto;
	font-size: 10pt;
	text-align: justify;
	padding-left: 20px;
	list-style-type: circle;
}

.content .page UL LI {
	margin: 2px 0px;
}

.content .page ol {
	counter-reset: section;
	width: 800px;
	margin: 0 auto;
	font-size: 10pt;
	text-align: justify;
	list-style-type: none;
}
		
.content .page ol li {
	counter-increment: section;
}

.content .page ol li:before  {
.content .page: counters(section, ".") ". ";
}

.content .page UL.tabs {
	padding: 0px;
}

.content .page UL.tabs li {
	list-style:none;
	display:inline;
}

.content .page UL.tabs a {
	padding:5px 10px;
	display:inline-block;
	background:#666;
	color:#eee;
	text-decoration:none;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-moz-border-top-right-radius: 8px;
	-moz-border-top-left-radius: 8px;
}

.content .page UL.tabs a.active {
	background:#eee;
	color:#000;
}

.content .page .tabbed {
	padding: 10px;
	background: #eee;
	width: 720px;
	margin: 0 auto;
}

.content .page TABLE.qtable {
	background: none;
	border: 0px none;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 0px auto;
	padding: 0px;
	width: 800px;
	text-align: center;
}

.content .page TABLE.qtable TR {
	background: #fff;
	border: 0px none;
	margin: 0px;
	padding: 0px;
}

.content .page TABLE.qtable TR.alt {
	background: url(../images/tab_back.png) repeat;
	border: 0px none;
	margin: 0px;
	padding: 0px;
	
}

.content .page TABLE.qtable TR TH {
	font-size: 12pt;
	font-weight: bold;
	margin: 0px;
	padding: 10px 0px;
	text-align: center;
}

.content .page TABLE.qtable TR TD {
	border: solid 1px #999;
        margin: 0px;
	padding: 2px;
}

.content .page TABLE.qtable TR TD P {
	width: auto;
	margin: 0px;
	display: inline;
}

.content .page TABLE.qtable TR TD A IMG {
	border: 0px none;
	margin: 0px 1px;
}

.content .page TABLE.qtable TR TD FORM P {
	display: table-cell;
	text-align: center;
}

.content .page TABLE.qtable TR TD FORM P.pval {
	width: 70%;
}

.content .page .noscript {
	width: 100%;
}

.content .page .noscript P{
	color: #FF0000;
	background-color: #FFCCCC;
	border: solid 1px #FF0000;
	text-align: center;
	font-style: italic;
	margin: 0px auto;
	padding: 2px 0px;
	width: 70%;
}

.content .page FORM {
	margin: 0px;
}

.content .page #search {
	width: 100%;
	display: none;
}

.content .page #search TABLE.qtable {
	border: none 0px;
	margin: 0px auto;
	padding: 2px 0px;
	width: 70%;
	text-align: left;
}

.content .page #search TABLE.qtable TR {
	background: none;
	border: none 0px;
}

.content .page #search TABLE.qtable TR.disabled {
	color: darkgrey;
}

.content .page #search TABLE.qtable TR.submitQuery {
	margin: 0px auto;
	background: none;
}

.content .page #search TABLE.qtable TR.head TD{
	padding-top: 25px;
}

.content .page #search TABLE.qtable TR.submitQuery TD {
	background: none;
	border: none 0px;
	padding: 20px 4px 0px 4px;
}

.content .page #search TABLE.qtable TR TD {
	background: none;
	border: none 0px;
	padding: 10px 4px;
}

.content .page #search TABLE.qtable TR TD.first-child {
	width: 30px;
}

.content .page #search TABLE.qtable TR TD.entry {
	width: 40%;
}

.content .page #search TABLE.qtable TR TD P.submit {
	width: 100%;
	text-align: center;
	background: none;
	display: block;
	margin: 0px auto;
	padding: 10px 0px;
	border-top: 1pt solid #254061;
}

.content .page #search SELECT {
	width: 190px;
}

.content .page #search INPUT.query{
	width: 185px;
}

#loading {
	display: inline;
	margin: 0px 0px 0px 5px;
	width: 16px;
	height: 16px;
	visibility: hidden;
}

#loading .spinner {
	display: inline;
	margin: 0px;
}

#loading .spinner IMG {
	margin: 0px;
	border: 0px none;
	padding: 0px;
}
